<h1><%= @user.name %>'s page</h1>
<h3> <%= link_to "edit", edit_user_path(@user) %> </h3>

<h2>Items</h2>
<ul>
<% @products.each do |product| %>
	<li><%= link_to product.name, product_path(product) %></li>
<% end %>
</ul>

