<h1>Home</h1>

<h2>Things left to do:</h2>

<ul>
<li>Photos (user and products)</li>
<li>add barter option on products show page (dropdown) AJAX</li>
<li>pending table, alerts, and logic</li>
<li>search for products</li>
<li>pagination</li>
<li>AJAX the shit out of everything</li>
<li>only authorized user can edit their items</li>
</ul>