<h1>Home</h1>

<h2>Things left to do:</h2>

<ul>
<li>AJAX the shit out of everything</li>
<li>send email when a trade is successful</li>
<li>products show page, formatting description</li>
<li>products index page for person, person in the left div</li>
</ul>