Hello <%= @authenticated_user.name %><%= ", you have no pending requests." if @requests.empty? %>

<ul>
<% @requests.each do |r| %>
  <li><%= link_to r.product.name, r.product %> by <%= link_to User.find(r.buyer_id).name, User.find(r.buyer_id) %></li>
<% end %>


</ul>