ul{
  margin: 0;
}

#user_index li{
  margin: 10px;
  padding: 5px;
  border: 1px #000 solid;
  height: 185px;
  width: 156px;
  float: left;
  list-style-type: none;
}

#user_index img{
  opacity: 0.5;
  border: 3px #000 solid;
}

#user_index img:hover{
  opacity: 1;
}

.id{
  margin-top: 10px;
  margin-left: 10px;
}

input {
  display: block;
}

#user_show{
  margin: 10px;
  padding: 5px;
  border: 1px #000 solid;
  height: 210px;
  width: 156px;
  float: left;
  list-style-type: none;
}

#user_show img{
  border: 3px #000 solid;
}

.user_products li{
  margin: 10px;
  padding: 5px;
  border: 1px #000 solid;
  height: 210px;
  width: 156px;
  float: left;
  list-style-type: none;
}

.user_products img{
  opacity: 0.5;
  border: 3px #000 solid;
}

.user_products img:hover{
  opacity: 1;
}

.clear{
  clear: both;
}


/*Requests*/
.requests{
  margin: 10px;
  padding: 5px;
  border: 1px #000 solid;
  height: 250px;
  width: 156px;
  float: left;
  list-style-type: none;
}
.requests img{
  border: 3px #000 solid;
}
.requests input[type="submit"]{
  display: inline;
  margin: 3px 10px;
}