#user_index li{
  margin: 10px;
  padding: 5px;
  border: 1px #000 solid;
  height: 185px;
  width: 156px;
  float: left;
  list-style-type: none;
}

#user_index img{
  opacity: 0.5;
  border: 3px #000 solid;
}

#user_index img:hover{
  opacity: 1;
}

.id{
  margin-top: 10px;
  margin-left: 10px;
}

input {
  display: block;
}