<ul class='user_products'>
<% products.each do |product| %>
	<li><%= link_to image_tag(product.photo), product_path(product) %>
    <%= link_to product.name, product_path(product) %></li>
<% end %>
</ul>
<%= paginate products %>
