<h1>All Products</h1>

<ul id='product_content'>
<% @products.each do |product| %>
	<li><%= link_to product.name, product_path(product) %></li>
<% end %>
</ul>
<%= paginate @products %>
<%= link_to "Create New Product", new_product_path %>